// >>> на связи >>>
.in-touch
  .in-touch__title
    h3.title-3 На связи:
  .in-touch__social-icons
    include ../social-icons/_social-icons
  a.in-touch__email(href='mailto:dkoder.dvl@gmail.com') dkoder.dvl@gmail.com
  br
  a.in-touch__phone(href='tel:+79039637117')
    | +7 (903) 963-71-17
// <<< на связи <<<
