nav.nav
  .mobile-nav-overlay

.nav-menu
  a.nav-menu__link.nav-menu__logo(href='index.html') ДФ
  a.nav-menu__link.nav-menu__link-active(href='#') Главная
  a.nav-menu__link(href='#projects') Работы
  a.nav-menu__link(href='#contacts') Контакты
