nav.nav
  .nav-menu
    a.nav-menu__logo(href='index.html') ДФ
    a.nav-menu__link.nav-menu__link-active(href='#') Главная
    a.nav-menu__link(href='#projects') Работы
    a.nav-menu__link(href='#contacts') Контакты
    .nav-menu__social-icons-wrapper
      include ../social-icons/_social-icons

  include ../mobile-nav/_mobile-nav

