extends ../layouts/main

block variables
  - var title = 'Dmitry Fokin'

block header
  .container
    include ../blocks/nav/_nav

  //    include ../blocks/logo
  //
  //block content
  //  section
  //    include ../blocks/projects
  //    include ../blocks/technology
  //    include ../blocks/contacts
  //
  //block footer
  //  .container
  //    include ../blocks/footer
