.mobile-nav-overlay#mobile-nav-overlay
  .mobile-nav#mobile-nav

    a.nav-logo.mobile-nav-logo.anderline-dicoration(href='index.html') WEB-разработчик<br>Дмитрий Фокин

    .mobile-nav-menu
      a(href="#technology") Услуги
      a(href="#projects") Работы
      a(href="#contacts") Контакты

    .mobile-nav-social-icons
      include ../social-icons/_social-icons

.menu-icon#menu-toggle
  .menu-icon-line
