.social-icons
  a(href='https://github.com/dmitryfokin').social-icon-github
    i.fab.fa-github
  a(href='https://t.me/dmitryfokin').social-icon-telegram
    i.fab.fa-telegram
  a(href='https://vk.com/id15466817').social-icon-vk
    i.fab.fa-vk
  //a(href='#').social-icon-whatsapp
  //  i.fab.fa-whatsapp
