.section-contacts {
  padding: 60px 0;

  background-color: #f4f8f9;

  //background-image: url(img/bg/line-5-bg-2_02.jpg);
  //background-repeat: repeat-y;
  //background-position: center;

  z-index: 0;
  @media (min-width: 768px) {
    padding: 80px 0;
  }
  @media (min-width: 1200px) {
    padding: 150px 0;
  }
}

.section-contacts__title {
  margin-bottom: 45px;

  @media (min-width: 768px) {
    margin-bottom: 70px;
  }

  & h2 {
    margin: 0 auto;
    text-align: center;
  }
}

.section-contacts__row {
  position: relative;

  display: flex;
  flex-direction: column;

  z-index: 2;

  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
  }

  &::after {

    @media (min-width: 1200px) {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      left: -340px;

      width: 448px;
      height: 280px;

      z-index: -1;

      background-image: url(../img/bg/bg-66.png);
    }
  }
}

.contacts-info-wrapper {
  margin-bottom: 45px;

  @media (min-width: 768px) {
    width: 40%;
    margin-bottom: 0;
    padding-top: 30px;
  }
}

.form-callback-wrapper {

  @media (min-width: 768px) {
    width: 338px;
  }

  @media (min-width: 1200px) {
    width: 50%;
    padding-left: 40px;
  }
}

.contacts-info__list-contacts-wrapper {
  margin-bottom: 45px;
}

.contacts-info__slogan {
  margin-bottom: 25px;

  font-size: 16px;
  color: #000;
  line-height: 1.6;
  text-align: left;

  @media (min-width: 768px) {
    margin-bottom: 45px;

    font-size: 18px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 45px;

    font-size: 20px;
  }
}

.list-contacts__item {
  display: flex;
  margin-bottom: 12px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.list-contacts__item-lable {
  width: 100%;
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 25%;
  }

  @media (min-width: 1200px) {
    width: 25%;
    font-size: 20px;
  }
}

.list-contacts__item-value {
  font-size: 18px;
  color: #96969d;
  line-height: 1.2;
  font-weight: 500;

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.list-contacts__item-value-link {
  color: rgb(3, 155, 229);
}

.contacts-info__social-icons-wrapper {
  & .social-icons {
    justify-content: flex-start;

    & a {
      margin-right: 24px;

      @media (min-width: 768px) {
        margin-right: 35px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

