// >>> обо мне >>>
.about-me
  .about-me__img
    img(src="./img/dmitry-fokin-470x513.jpg", alt='avatar')
  .about-me__text
    .about-me__text-name
      span.anderline-dicoration.anderline-dicoration--big Дмитрий
      br
      span.anderline-dicoration.anderline-dicoration--big Фокин
    .about-me__text-desc
      ul.about-me__text-desc-list
        li.about-me__text-desc-item <i class="fas fa-star"></i> Веб-разработчик
        li.about-me__text-desc-item <i class="fas fa-star"></i> Front-end 70% / Back-end 30%
        li.about-me__text-desc-item <i class="fas fa-star"></i> Верстаю сайты любой сложности
        li.about-me__text-desc-item <i class="fas fa-star"></i> Работаю с соблюдением сроков
        li.about-me__text-desc-item <i class="fas fa-star"></i> Строгое соблюдение ТЗ
// <<< обо мне <<<
