// >>> навыки >>>
.skills
  .skills__title
    h3.title-3 Что я умею:
  ul.skills__list
    li.skills__list-item HTML5 CSS3, кроссбраузерная, мобильная, адаптивная верстка.
    li.skills__list-item pixel perfect - для полного соответствия макету.
    li.skills__list-item верстаю с сеткой или без.
    li.skills__list-item Git, GitHub, Gulp сборка, Webpack, Node.js , yarn.
    li.skills__list-item Разработка Javascript плагинов
    li.skills__list-item Работа с базами джанных MySQL, PostrgeSQL, MongoDB
    li.skills__list-item Ruby и Ruby on rails
// <<< навыки <<<
