* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;

  color: $color-main-font;

  font-family: 'M PLUS 1p', sans-serif;
  font-size: $font-size;
  line-height: 1.5;
}

a,
a:hover {
  color: $color-link-font;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;

  &::selection {
    background: $color-main;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media (min-width: 768px) {
    max-width: 1140px;
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
    padding: 0;
    width: 80%;
  }

}

.btn {
  display: block;

  height: 100%;

  padding: 15px 20px;

  color: $color-main-font-invert;
  background-color: $color-main;
  border-radius: 3px;

  transition: background .2s linear;

  &:hover {

  }
}

.row-half {
  width: 100%;

  @media (min-width: 768px) {
    width: calc(50% - 15px);
  }
}

.row-third {
  width: 100%;

  @media (min-width: 768px) {
    width: calc(50% - 15px);
  }

  @media (min-width: 1200px) {
    width: calc(33% - 30px);
  }
}
