.project-card {
  margin-bottom: 65px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  &:hover .project-card__btn {
    display: block;
    opacity: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &:hover .project-card__img-wrapper::after {
    transform: translateY(0);
  }

  &:hover .project-card__title {
    color: $color-focus-1;
  }
}

.project-card__img-wrapper {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;

  &::after {
    content: "";
    display: block;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.4;

    background-color: $color-main;

    z-index: 2;

    transition: all 0.5s;
    transform: translateY(100%);
  }
}

.project-card__img {
  position: relative;
  display: block;
  width: 100%;
  background-color: $color-main;
}

.project-card__btn {
  position: absolute;

  opacity: 0;

  top: 100%;
  left: 50%;

  width: 70%;
  height: auto;
  transition: top 0.5s;

  transform: translateX(-50%);

  background-color: $color-main;
  color: $color-main-font-invert;

  z-index: 3;

  @media (min-width: 768px) {
    width: 300px;
  }

  &:hover {
    //background-color: $color-focus-1;
    //color: #fff;
    color: #fffc3c;
  }

  &:active {
    //background-color: #d4423b;
    color: $color-focus-3;
  }
}

.project-card__title {
  margin-bottom: 14px;
}

.project-card__desc {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 300;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.project-card__link {
  font-size: 20px;
  color: $color-link-font;
  text-decoration: underline;
  line-height: 1.2;

  @media (min-width: 1200px) {
    display: none;
  }
}
