include ../nav/_nav
.header__about-me-wrapper
  include ../about-me/_about_me
.header__big-img
  img(src="img/bg/header-desktop-bg.png")
.header__skills-and-touch-me-wrapper
  .header__skills-wrapper
    include ../skills/_skills
  .header__touch-me-wrapper
    include ../in-touch/_in-touch

